{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome {% endblock %}</h1>
    <div class='message'>

    <h2> Please answer the following Questions</h2>
    <form method="post">
        
        <h3> How old are you?. </h3>
        <input type="range" name="age" min="18" max="100">

        <h3> What gender do you identify as? </h3>
        <input type="radio" name="gender" required>Male</input>
        <input type="radio" name="gender" required>Female</input>
        <input type="radio" name="gender" required>Non-Binary</input>
        <input type="radio" name="gender" required>Prefer not to say</input>

        <h3> How familiar are you with virtual, mixed, or augmented reality systems? </h3>
        <input type="radio" name="fam_vam" required>1. Not at all</input>
        <input type="radio" name="fam_vam" required>2</input>
        <input type="radio" name="fam_vam" required>3</input>
        <input type="radio" name="fam_vam" required>4</input>
        <input type="radio" name="fam_vam" required>5. Very</input>

        <h3> How often do you interact with virtual, mixed, or augmented reality systems? </h3> 
        <input type="radio" name="oft_vam" required>1. Never</input>
        <input type="radio" name="oft_vam" required>2</input>
        <input type="radio" name="oft_vam" required>3</input>
        <input type="radio" name="oft_vam" required>4</input>
        <input type="radio" name="oft_vam" required>5. Often </input>

        <h3> How would you rate your level of expertise with virtual, mixed, or augmented reality systems </h3>
        <input type="radio" name="exp_vam" required>1. Novice</input>
        <input type="radio" name="exp_vam" required>2</input>
        <input type="radio" name="exo_vam" required>3</input>
        <input type="radio" name="exp_vam" required>4</input>
        <input type="radio" name="exp_vam" required>5. Expert </input>

        <h3> How familiar are you with robots?
        <input type="radio" name="fam_robot" required>1. Not at all</input>
        <input type="radio" name="fam_robot" required>2</input>
        <input type="radio" name="fam_robot" required>3</input>
        <input type="radio" name="fam_robot" required>4</input>
        <input type="radio" name="fam_robot" required>5. Very</input>
            
        <h3> How often do you interact with robots?
        <input type="radio" name="oft_robot" required>1. Never</input>
        <input type="radio" name="oft_robot" required>2</input>
        <input type="radio" name="oft_robot" required>3</input>
        <input type="radio" name="oft_robot" required>4</input>
        <input type="radio" name="oft_robot" required>5. Often </input>
           
        <h3> How would you rate your level of expertise with robots?
        <input type="radio" name="exp_robot" required>1. Novice</input>
        <input type="radio" name="exp_robot" required>2</input>
        <input type="radio" name="exo_robot" required>3</input>
        <input type="radio" name="exp_robot" required>4</input>
        <input type="radio" name="exp_robot" required>5. Expert </input>


        <button type="submit">Submit</button>
    </form>

    </div>
{% endblock %}
