{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome {% endblock %}</h1>
    <div class='message'>

    <h2> Please answer the following Questions</h2>
    <form method="post">

        <div class="radio_text">
        
            <h2> How old are you?. </h2>
            <input type="number" name="age" min="18" max="100">

            <h2> What gender do you identify as? </h2>

            <input type="radio" name="gender" id="gender_male" value="Male" ><label for="gender_male">Male</label></input>
            <input type="radio" name="gender" id="gender_female" value="Female" ><label for="gender_female">Female</label></input>
            <input type="radio" name="gender" id="gender_nb" value="Non-Binary" ><label for="gender_nb">Non-Binary</label></input>
            <input type="radio" name="gender" id="gender_pnts" value="Prefer not to say" ><label for="gender_pnts">Prefer not to say</label></input>

            <h2> How familiar are you with virtual, mixed, or augmented reality systems? </h2>
            <h3>1 = Not at all &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 5 = Very</h3>
            <input type="radio" name="fam_vam" id="fam_vam_1" value="1" ><label for="fam_vam_1">1</label></input>
            <input type="radio" name="fam_vam" id="fam_vam_2" value="2" ><label for="fam_vam_2">2</label></input>
            <input type="radio" name="fam_vam" id="fam_vam_3" value="3" ><label for="fam_vam_3">3</label></input>
            <input type="radio" name="fam_vam" id="fam_vam_4" value="4" ><label for="fam_vam_4">4</label></input>
            <input type="radio" name="fam_vam" id="fam_vam_5" value="5" ><label for="fam_vam_5">5</label></input>

            <h2> How often do you interact with virtual, mixed, or augmented reality systems? </h2> 
            <h3>1 = Never &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 5 = Often</h3>
            <input type="radio" name="oft_vam" id="oft_vam_1"  value="1" ><label for="oft_vam_1">1</label></input>
            <input type="radio" name="oft_vam" id="oft_vam_2"  value="2" ><label for="oft_vam_2">2</label></input>
            <input type="radio" name="oft_vam" id="oft_vam_3"  value="3" ><label for="oft_vam_3">3</label></input>
            <input type="radio" name="oft_vam" id="oft_vam_4"  value="4" ><label for="oft_vam_4">4</label></input>
            <input type="radio" name="oft_vam" id="oft_vam_5"  value="5" ><label for="oft_vam_5">5</label></input>

            <h2> How would you rate your level of expertise with virtual, mixed, or augmented reality systems </h2>
            <h3>1 = Novice &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 5 = Expert</h3>
            <input type="radio" name="exp_vam" id="exp_vam_1" value="1" ><label for="exp_vam_1">1</label></input>
            <input type="radio" name="exp_vam" id="exp_vam_2" value="2" ><label for="exp_vam_2">2</label></input>
            <input type="radio" name="exp_vam" id="exp_vam_3" value="3" ><label for="exp_vam_3">3</label></input>
            <input type="radio" name="exp_vam" id="exp_vam_4" value="4" ><label for="exp_vam_4">4</label></input>
            <input type="radio" name="exp_vam" id="exp_vam_5" value="5" ><label for="exp_vam_5">5</label></input>

            <h2> How familiar are you with robots?</h2>
            <h3>1 = Not at all &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 5 = Very</h3>
            <input type="radio" name="fam_robot" id="fam_robot_1" value="1" ><label for="fam_robot_1">1</label></input>
            <input type="radio" name="fam_robot" id="fam_robot_2" value="2" ><label for="fam_robot_2">2</label></input>
            <input type="radio" name="fam_robot" id="fam_robot_3" value="3" ><label for="fam_robot_3">3</label></input>
            <input type="radio" name="fam_robot" id="fam_robot_4" value="4" ><label for="fam_robot_4">4</label></input>
            <input type="radio" name="fam_robot" id="fam_robot_5" value="5" ><label for="fam_robot_5">5</label></input>
                
            <h2> How often do you interact with robots?</h2>
            <h3>1 = Never &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 5 = Often</h3>
            <input type="radio" name="oft_robot" id="oft_robot_1" value="1" ><label for="oft_robot_1">1</label></input>
            <input type="radio" name="oft_robot" id="oft_robot_2" value="2" ><label for="oft_robot_2">2</label></input>
            <input type="radio" name="oft_robot" id="oft_robot_3" value="3" ><label for="oft_robot_3">3</label></input>
            <input type="radio" name="oft_robot" id="oft_robot_4" value="4" ><label for="oft_robot_4">4</label></input>
            <input type="radio" name="oft_robot" id="oft_robot_5" value="5" ><label for="oft_robot_5">5</label></input>
            
            <h2> How would you rate your level of expertise with robots?</h2>
            <h3>1 = Novice &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; 5 = Expert</h3>
            <input type="radio" name="exp_robot" id="exp_robot_1" value="1" ><label for="exp_robot_1">1</label></input>
            <input type="radio" name="exp_robot" id="exp_robot_2" value="2" ><label for="exp_robot_2">2</label></input>
            <input type="radio" name="exp_robot" id="exp_robot_3" value="3" ><label for="exp_robot_3">3</label></input>
            <input type="radio" name="exp_robot" id="exp_robot_4" value="4" ><label for="exp_robot_4">4</label></input>
            <input type="radio" name="exp_robot" id="exp_robot_5" value="5" ><label for="exp_robot_5">5</label></input>

        </div>
        <button type="submit">Submit</button>
        
    </form>

    </div>
{% endblock %}
