{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome {% endblock %}</h1>
    <div class='message'>


    <h3></h3>
        <form method="post">
            <h3>Which system did you prefer for correcting robot errors? : </h3>
            <input type="radio" name="1_yes_no" required>VR</input>
            <input type="radio" name="1_yes_no" required>Screen</input>
    
    
    
            <button type="submit">Submit</button>
        </form> 

    </div>
{% endblock %}
