{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome {% endblock %}</h1>
    <div class='message'>


    <h3></h3>
        <form method="post">

            <div class="radio_text">
            <h2>Which system did you prefer for correcting robot errors? : </h2>
                <input type="radio" name="final_preference_1" id="final_preference_1" value="vr" required><label for="final_preference_1">VR</label></input>
                <input type="radio" name="final_preference_1" id="final_preference_2" value="screen" required><label for="final_preference_2">Screen</label></input>
            </div>
            <button type="submit">Submit</button>
        </form> 

    </div>
{% endblock %}
