{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome {% endblock %}</h1>
    <div class='message'>

        <form method="post">
            <h3>Participant ID: </h3>
            <input type="number" id="paricipantID" name="paricipantID" min="0" max="256"><br>
            <h3>Trial ID: </h3>
            <input type="text" id="trialID" name="trialID"><br>
            <button type="submit">Submit</button>
        </form>

        <a href="bell">click to start</a>
    </div>
{% endblock %}
